<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <nav>
        <a th:href="@{/pets/all/all?page=0}">Все приюты</a>
        <a th:href="@{/pets/cat_shelter/all?page=0}">Кошачий приют</a>
        <a th:href="@{/pets/dog_shelter/all?page=0}">Собачий приют</a>
        <a th:href="@{'/reports?shelter-type=all&page=0'}">Отчеты</a>
        <a th:href="@{/probations?page=0}">Испытательные сроки</a>
        <a th:href="@{/adoptions?page=0}">Семьи</a>
    </nav>

    <div>
        <a th:href="@{'/pets/' + ${shelterType} + '/all?page=0'}">Все</a>
        <a th:href="@{'/pets/' + ${shelterType} + '/waiting_to_be_adopted?page=0'}">В приюте</a>
        <a th:href="@{'/pets/' + ${shelterType} + '/on_probation?page=0'}">На испытательном сроке</a>
        <a th:href="@{'/pets/' + ${shelterType} + '/adopted?page=0'}">Усыновленные</a>
    </div>

    <div th:each="pet : ${pets}">
        <div>
            <span th:text="${pet.getId()}"></span>
            <a th:href="@{'/pets/' + ${pet.getId()}}" th:text="${pet.getName()}"></a>
            <span th:text="${pet.getKindOfPet()}"></span>
            <img th:src="${pet.getPhotoPath()}" alt="oops" height="90" width="160">
        </div>
    </div>
</div>
<div th:if="${shelterType == 'all'}">
    <a th:href="@{'/pets?page=' + ${page - 1}}">prev</a>
    <a th:href="@{'/pets?page=' + ${page + 1}}">next</a>
</div>
<div th:if="${shelterType == 'cat_shelter'}">
    <p><a th:href="@{/pets/cat_shelter/create-form}">add new pet</a></p>
    <a th:href="@{'/pets/cat_shelter?page=' + ${page - 1}}">prev</a>
    <a th:href="@{'/pets/cat_shelter?page=' + ${page + 1}}">next</a>
</div>
<div th:if="${shelterType == 'dog_shelter'}">
    <p><a th:href="@{/pets/dog_shelter/create-form}">add new pet</a></p>
    <a th:href="@{'/pets/dog_shelter?page=' + ${page - 1}}">prev</a>
    <a th:href="@{'/pets/dog_shelter?page=' + ${page + 1}}">next</a>
</div>
</body>
</html>